body {
  margin: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
  padding: 100px 20px;
  animation: fadeIn 1s ease;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: white;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
  transform: scale(1.05);
}

/* SECTION */
section {
  padding: 60px 20px;
  text-align: center;
}

/* CARD */
.card {
  background: #f4f4f4;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* CTA */
.cta {
  background: #333;
  color: white;
}

/* ANIMASI */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}